* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: sienna;
  margin: 40px 50px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input, textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 14px;
}

.form-search .form-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.form-search input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 14px;
}

.btn {
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(78, 39, 2);
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.btn-login {
  background-color: sandybrown;
  color: rgb(14, 13, 13);
}

.btn-logout{
  background-color: sandybrown;
  color: rgb(14, 13, 13);
}

.btn-primary {
  background-color: sandybrown;
  color: rgb(14, 13, 13);
  width: 25%;
}

.btn-secondary {
  background-color: rgb(253, 189, 105);
  color: rgb(14, 13, 13);
  font-weight: 500;
  width: auto;
}

hr {
  border: 2px solid sandybrown;
  margin: 30px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-text {
  color: rgb(14, 13, 13);
  border: none;
  background-color: sandybrown;
  padding: 5px;
  margin: 12px 0;
}

/* Form Create Playlist */

.form-playlist .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}

.form-playlist .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-playlist textarea {
  resize: none;
  height: 80px;
}

/* Search Playlist */
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.search-wrapper .form .form-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.search-wrapper input {
  width: 100%;
}

/* Box Playlist */
.box-Playlist {
  border-radius: 10px;
  padding: 15px;
  background-color: #c47852;
  box-shadow: 2px 2px 5px rgb(66, 33, 2);
  text-align: center;
}

.box-Playlist .box-info {
  display: flex;
  flex-direction: column;
}

.box-Playlist img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.box-info h3 {
  font-weight: 600;
  min-height: 60px;
}

.box-info p {
  margin-top: 5px;
}

.track-list {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 20px 0;
}

.btn-select {
  width: 100%;
  margin-top: 10px;
}