body {
  background-color: pink;
  margin: 40px 50px;
  font-family: "Nunito", sans-serif;
}

.boxPlaylist {
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  background-color: #cfdff1;
  box-shadow: 2px 2px 5px #a2b1c6;
  text-align: center;
}

.boxPlaylist img {
  width: 80%;
  padding-top: 20px;
}

.btnSelect {
  width: 50%;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  background-color: #ffb6c1;
  box-shadow: 2px 2px 5px #a2b1c6;
  color: black;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}